@import "../../../../scss/base";



:host {
  flex-grow: 1;
  background-color: rgba(0,0,0,0.7);
  color: rgb(128, 240, 175);

  @extend %center;
}

form {
  width: 300px;
  border: 2px solid red;

}

.errors{
  font-size: 30px;
}
