nav {
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    display: flex;

    li {
      border: 2px solid blue;
      font-size: 1rem;
      list-style: none;

      a {
        text-decoration: none;
        padding: 3px;
        border: 2px solid blue;
        &.active{
          background-color: red;
        }
      }
    }
  }
}
