@import "../../scss/base";

:host {
  width: 100%;
  display: flex;
  color: $text-very-light-color;
  background: $bg-dark-color;
  height: 100px;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.5rem;
  font-family: $header-font-family;
  text-align: center;
  line-height: 1.5;
}
