$red :red;
$green:rgb(61, 177, 61);
$gray:#3e405a;
$dark-purple:hsl(300, 64%, 21%);
$light-gray: #777;
$text-white: #fff;
$body-text:rgb(245, 235, 235);
$light-blue: #e1e8ef; // stopper pertimiter color

$dark-gray: #808080;
$middle-gray: #d3d3d3;
$very-light-gray: #eee;
$light-purple: rgb(214, 118, 238);
