


//////////////////////////////////////////////////////////////////////////////////
// screens
//////////////////////////////////////////////////////////////////////////////////


$desktop-xlarge: 1800px;
$desktop-large: 1200px;
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 360px;

//////////////////////////////////////////////////////////////////////////////////
// fonts
//////////////////////////////////////////////////////////////////////////////////

$primary-font-family: arial, helvetica, sans-serif;
$header-font-family: montserrat, ariel, helvetica, sans-serif;
$special-font-family: "Work Sans", sans-serif;
